<footer class="footer-container">
    <div class="footer-left">
        <h2>TravelNet</h2>
        <p>Conectamos experiencias<br />y negocios a nivel global.</p>
    </div>
    <div class="footer-center">
        <nav class="footer-nav">
            <a href="#" class="footer-link">Más información en</a>
            <a href="#" class="footer-link">Redes sociales</a>
            <a href="#" class="footer-link">Contactos</a>
            <a href="#" class="footer-link">Políticas de privacidad</a>
        </nav>
    </div>
    <div class="footer-right">
        <button mat-icon-button aria-label="Instagram" class="icon-btn instagram">
            <mat-icon svgIcon="instagram"></mat-icon>
        </button>
        <button mat-icon-button aria-label="Facebook" class="icon-btn facebook">
            <mat-icon svgIcon="facebook"></mat-icon>
        </button>
        <button mat-icon-button aria-label="LinkedIn" class="icon-btn linkedin">
            <mat-icon svgIcon="linkedin"></mat-icon>
        </button>
    </div>
</footer>